* {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  background-color: #161616;
  margin: 0;
  height: 100%;
}

.my-page {
  height: 100%;
}

.position-nav {
  position: sticky;
  top: 0%;
  z-index: 1;
}

nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: #161616;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}

nav .logo {
  width: 250px;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}

nav ul a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"] {
  display: none;
}
@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #202020;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }

  nav ul a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul a {
    margin-left: 0px;
  }
}

nav ul a.active,
nav ul a:hover {
  background: none;
  color: #fc0e49;
}

.my-description {
  background: url(../assets/images/description.png);
  background-repeat: no-repeat;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* background-size: cover;
  transform-origin: left;
  transform: scaleX(1); */
}

.description-text {
  color: #fc0e49;
}

.name-size {
  font-size: 80px;
}

@media (max-width: 780px) {
  .description-text {
    color: #fc0e49;
  }

  .name-size {
    font-size: 60px;
  }
}
@media (max-width: 600px) {
  .description-text {
    color: #fc0e49;
    font-size: 20px;
  }

  .name-size {
    font-size: 45px;
  }

  nav .logo {
    width: 190px;
  }
}
@media (max-width: 320px) {
  nav .logo {
    display: none;
  }

  .description-text {
    color: #fc0e49;
    font-size: 16px;
  }

  .name-size {
    font-size: 20px;
  }

  .work-text {
    margin-bottom: 10px !important;
  }
}

.my-learning {
  background-color: #202020;
  display: flex;
  justify-content: center;
  height: 63%;
}

.my-work-text {
  font-size: 50px;
  color: #fc0e49;
  white-space: nowrap;
}

.download-cv {
  transition: all 0.5s ease;
  color: black;
  border: 3px solid black;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color: transparent;
  padding: 10px;
  outline: none;
  padding: 10px 40px;
  text-decoration: none;
  border-radius: 4px;
}
.download-cv:hover {
  background-color: #fc0e49;
  border: 3px solid #fc0e49;
  color: white;
}
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-skills {
  background-color: #161616;
  height: 100%;
  display: flex;
  justify-content: center;
}
.my-trajectory {
  background-color: #202020;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
.reveal-skills {
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal-skills.active {
  transform: translateX(0px);
  opacity: 1;
}
.first-lineskills {
  position: relative;
  transform: translateX(-200px);
  opacity: 0;
  transition: all 2s ease;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}

.first-lineskills.active {
  transform: translateX(0px);
  opacity: 1;
}
.second-lineskills {
  position: relative;
  transform: translateX(-300px);
  opacity: 0;
  transition: all 2s ease;
}

.second-lineskills.active {
  transform: translateX(0px);
  opacity: 1;
}
.third-lineskills {
  position: relative;
  transform: translateX(-400px);
  opacity: 0;
  transition: all 2s ease;
}

.third-lineskills.active {
  transform: translateX(0px);
  opacity: 1;
}

.img-container {
  width: 60px;
}

.destaque {
  background: #312e37;
  border-radius: 10px;
  min-width: 150px;
  max-width: 150px;
  text-align: center;
  display: flex;
  padding: 15px;
  color: #000;
  transition: all ease-out 0.5s;
  min-height: 150px;
  max-height: 150px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 45px;
  margin-bottom: 45px;
}

.destaque:hover {
  background: #201e24;
  transform: scale(1.05);
}

.text-color {
  color: #fff;
  font-size: 16px;
}

@media (max-width: 1350px) {
  .destaque {
    min-width: 180px;
    max-width: 180px;
    display: flex;
    width: 180px;
    height: 130px;
    min-height: 130px;
    max-height: 130px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 10px;
  }

  .img-container {
    width: 50px;
  }

  .my-work-text {
    font-size: 30px;
  }
  /* 
  .my-skills {
    height: 70%;
  } */
}

@media (max-width: 1115px) {
  .my-skills {
    height: 80%;
  }
}
@media (max-width: 955px) {
  .my-skills {
    height: 100%;
  }
}

@media (max-width: 900px) {
  .my-work-text {
    font-size: 30px;
    color: #fc0e49;
    white-space: nowrap;
  }

  .my-learning {
    height: 80%;
  }
}

@media (max-width: 860px) {
  .destaque {
    min-width: 110px;
    max-width: 140px;
    display: flex;
    width: 140px;
    height: 115px;
    min-height: 115px;
    max-height: 115px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 10px;
  }

  .img-container {
    width: 40px;
  }

  .text-color {
    font-size: 12px;
  }

  .my-work-text {
    font-size: 18px;
  }

  .my-learning {
    height: 75%;
  }

  .my-skills {
    height: 90%;
  }
}
@media (max-width: 765px) {
  .my-learning {
    height: 90%;
  }
}

@media (max-width: 650px) {
  .destaque {
    min-width: 110px;
    max-width: 150px;
    display: flex;
    width: 90px;
    height: 95px;
    min-height: 95px;
    max-height: 95px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 10px;
  }

  .img-container {
    width: 20px;
  }

  .text-color {
    font-size: 12px;
  }

  .my-work-text {
    font-size: 15px;
  }

  .my-learning {
    height: 80%;
  }
  .my-skills {
    height: 80%;
  }
}

@media (max-width: 720px) {
  .my-work-text {
    font-size: 30px;
    color: #fc0e49;
    white-space: nowrap;
  }
}
@media (max-width: 640px) {
  .my-work-text {
    font-size: 30px;
    color: #fc0e49;
    white-space: nowrap;
  }

  /* .my-learning {
    height: 65%;
  } */
}

@media (max-width: 570px) {
  .my-learning {
    height: 73%;
  }

  .my-work-text {
    font-size: 20px;
    color: #fc0e49;
    white-space: nowrap;
  }

  .text-description-me {
    font-size: 14px;
  }
}

@media (max-width: 465px) {
  .my-skills {
    height: 70%;
  }
}
@media (max-width: 495px) {
  .my-learning {
    height: 77%;
  }
}
@media (max-width: 470px) {
  .destaque {
    min-width: 85px;
    max-width: 85px;
    display: flex;
    width: 85px;
    height: 85px;
    min-height: 85px;
    max-height: 85px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 10px;
  }

  .img-container {
    margin-bottom: 5px !important;
  }
  .text-color {
    font-size: 9px;
  }
}

@media (max-width: 450px) {
  .my-learning {
    height: 67%;
  }

  .text-description-me {
    font-size: 12px;
  }
}
@media (max-width: 410px) {
  .my-learning {
    height: 75%;
  }
}
@media (max-width: 380px) {
  .destaque {
    min-width: 85px;
    max-width: 85px;
    display: flex;
    width: 85px;
    height: 85px;
    min-height: 85px;
    max-height: 85px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 10px;
  }

  .img-container {
    margin-bottom: 5px !important;
  }
  .text-color {
    font-size: 9px;
  }

  .my-skills {
    height: 100%;
  }
}
@media (max-width: 350px) {
  .my-learning {
    height: 85%;
  }

  .text-description-me {
    font-size: 12px;
  }

  .destaque {
    min-width: 85px;
    max-width: 90px;
    display: flex;
    width: 85px;
    height: 95px;
    min-height: 95px;
    max-height: 95px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 10px;
  }

  .img-container {
    width: 20px;
  }

  .text-color {
    font-size: 10px;
  }

  .my-work-text {
    font-size: 15px;
  }
}
