* {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  background-color: #161616;
  margin: 0;
}

.my-page {
  height: 100%;
}

.position-nav {
  position: sticky;
  top: 0%;
  z-index: 1;
}

nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: #161616;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}

nav .logo {
  width: 250px;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}

nav ul a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"] {
  display: none;
}
@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #202020;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }

  .nav-width {
    height: 100%;
  }
  #click:checked ~ ul {
    left: 0;
  }

  nav ul a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul a {
    margin-left: 0px;
  }
}

nav ul a.active,
nav ul a:hover {
  background: none;
  color: #fc0e49;
}

.my-description {
  background: url(../assets/images/description.png);
  background-repeat: no-repeat;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.description-text {
  color: #fc0e49;
}

.name-size {
  font-size: 80px;
}

@media (max-width: 780px) {
  .description-text {
    color: #fc0e49;
  }

  .name-size {
    font-size: 60px;
  }
}
@media (max-width: 600px) {
  .description-text {
    color: #fc0e49;
    font-size: 20px;
  }

  .name-size {
    font-size: 45px;
  }

  nav .logo {
    width: 190px;
  }
}
@media (max-width: 320px) {
  nav .logo {
    display: none;
  }

  .description-text {
    color: #fc0e49;
    font-size: 16px;
  }

  .name-size {
    font-size: 20px;
  }

  .work-text {
    margin-bottom: 10px !important;
  }
}

.my-learning {
  background-color: #202020;
  display: flex;
  justify-content: center;
  height: auto;
}

.my-work-text {
  font-size: 50px;
  color: #fc0e49;
  white-space: nowrap;
}

.download-cv {
  transition: all 0.5s ease;
  color: black;
  border: 3px solid black;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color: transparent;
  padding: 10px;
  outline: none;
  padding: 10px 40px;
  text-decoration: none;
  border-radius: 4px;
}
.download-cv:hover {
  background-color: #fc0e49;
  border: 3px solid #fc0e49;
  color: white;
}
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-skills {
  background-color: #161616;
  height: auto;
  display: flex;
  justify-content: center;
}
.my-trajectory {
  background-color: #202020;
  height: auto;
  display: flex;
  justify-content: center;
}

.my-formation {
  background-color: #161616;
  height: auto;
  display: flex;
  justify-content: center;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
.reveal-skills {
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal-skills.active {
  transform: translateX(0px);
  opacity: 1;
}
.first-lineskills {
  position: relative;
  transform: translateX(-200px);
  opacity: 0;
  transition: all 2s ease;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}

.first-lineskills.active {
  transform: translateX(0px);
  opacity: 1;
}
.my-trajectory-transition {
  position: relative;
  transform: translateX(-200px);
  opacity: 0;
  transition: all 2s ease;
}

.my-trajectory-transition.active {
  transform: translateX(0px);
  opacity: 1;
}
.my-formation-transition {
  position: relative;
  transform: translateX(-200px);
  opacity: 0;
  transition: all 2s ease;
}

.my-formation-transition.active {
  transform: translateX(0px);
  opacity: 1;
}

.img-container {
  width: 60px;
  margin-bottom: 1rem;
}

.text-description-me {
  margin-bottom: 3rem;
}

.destaque {
  background: #312e37;
  border-radius: 10px;
  min-width: 150px;
  max-width: 150px;
  text-align: center;
  display: flex;
  padding: 15px;
  color: #000;
  transition: all ease-out 0.5s;
  min-height: 150px;
  max-height: 150px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 45px;
  margin-bottom: 45px;
}

.destaque:hover {
  background: #201e24;
  transform: scale(1.05);
}

.text-color {
  color: #fff;
  font-size: 16px;
}

.title-my-trajectory {
  color: white;
  font-size: 14px;
}
.title-my-formation {
  color: white;
  font-size: 14px;
}

.my-function {
  margin-left: 80px;
}

.timeline {
  background: var(--primary-color);
  margin: 20px auto;
  padding: 20px;
}

.outer {
  border-left: 2px solid #333;
}

.infos-trajectory {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.infos-formation {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.info {
  padding-left: 15px;
  display: flex;
}

.title {
  font-size: 16px;
  color: #fc0e49;
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fc0e49;
  border-radius: 999px;
  left: -39px;
  border: 3px solid #fc0e49;
  margin-top: 4px;
}

@media (min-width: 300px) and (max-width: 400px) {
  .text-description-me {
    margin-bottom: 10px !important;
    font-size: 10px;

    margin-bottom: 15px !important;
  }

  .download-cv {
    transition: all 0.5s ease;
    color: black;
    border: 2px solid black;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 10px;
    background-color: transparent;
    padding: 10px;
    outline: none;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
  }

  .my-work-text {
    font-size: 14px;
  }

  .destaque {
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .img-container {
    width: 25px;
    margin-bottom: 5px;
  }

  .text-color {
    font-size: 10px;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .text-description-me {
    margin-bottom: 10px !important;
    font-size: 10px;

    margin-bottom: 15px !important;
  }

  .download-cv {
    transition: all 0.5s ease;
    color: black;
    border: 2px solid black;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 10px;
    background-color: transparent;
    padding: 10px;
    outline: none;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
  }

  .my-work-text {
    font-size: 14px;
  }

  .img-container {
    width: 25px;
    margin-bottom: 5px !important;
  }

  .text-color {
    font-size: 12px;
  }

  .destaque {
    min-width: 90px;
    max-width: 89px;

    min-height: 90px;
    max-height: 90px;

    margin-right: 15px;
    margin-bottom: 15px;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .text-description-me {
    margin-bottom: 10px !important;
    font-size: 12px;

    margin-bottom: 15px !important;
  }

  .download-cv {
    transition: all 0.5s ease;
    color: black;
    border: 2px solid black;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 10px;
    background-color: transparent;
    padding: 10px;
    outline: none;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
  }

  .my-work-text {
    font-size: 19px;
  }

  .img-container {
    width: 40px;
  }

  .text-color {
    font-size: 14px;
  }

  .destaque {
    min-width: 135px;
    max-width: 135px;

    min-height: 120px;
    max-height: 120px;

    margin-right: 20px;
    margin-bottom: 20px;
  }
}
@media (min-width: 800px) and (max-width: 1100px) {
  .text-description-me {
    margin-bottom: 10px !important;
    font-size: 16px;

    margin-bottom: 15px !important;
  }

  .download-cv {
    transition: all 0.5s ease;
    color: black;
    border: 2px solid black;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    background-color: transparent;
    padding: 10px;
    outline: none;
    padding: 5px 30px;
    text-decoration: none;
    border-radius: 4px;
  }

  .my-work-text {
    font-size: 24px;
  }

  .img-container {
    width: 45px;
  }
  .text-color {
    font-size: 14px;
  }

  .destaque {
    min-width: 135px;
    max-width: 135px;

    min-height: 120px;
    max-height: 120px;

    margin-right: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 800px) {
  .image-icon {
    display: none;
  }

  .infos-trajectory {
    display: block;
  }
  .infos-formation {
    display: block;
  }

  .my-function {
    margin-left: 0px;
    margin-top: 20px;
  }
}

.my-footer {
  background-color: #202020;
  height: auto;
  display: flex;
  justify-content: center;
}

.my-image-box {
  background: #161616;
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.contact-text {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  padding-top: 5px;
}
.contact-text:hover {
  text-decoration: none;
  color: #fc0e49;
}

.my-contact-box {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-text {
  color: #fc0e49;
}

.my-copy {
  display: flex;
  background-color: #161616;
  padding: 15px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.box-user {
  margin-right: auto;
}
